<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>
    <handlers>
      <!-- Handler for the Node.js backend -->
      <add name="iisnode" path="dream-backend/index.js" verb="*" modules="iisnode" />
    </handlers>
    <rewrite>
      <rules>
        <!-- Rule for the backend API -->
        <rule name="BackendAPI" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="dream-backend/index.js" />
        </rule>

        <!-- Rule for serving frontend content -->
        <rule name="Frontend" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="dream-frontend/public/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
